{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% include 'includes/alerts.html' %}
        <h4 class="card-title">Deductions</h4>
        <a href="{% url 'create-deductions' %}"><p class="card-description"> + Add New Deduction
        </p></a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th> # </th>
              <th> Deduction Name </th>
              <th> Is Taxable </th>
              <th> Edit </th>
              <th> Delete </th>
            </tr>
          </thead>
          <tbody>
            {% for deduction in deductions %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{deduction.deduction_name}}</td>
              <td>
                {% if deduction.is_taxable == True %}
                <label class="badge badge-success">Yes</label>
                {% else %}
                <label class="badge badge-danger">No</label>
                {% endif %}
              </td>
              <td> <a href="{% url 'update-deductions' deduction.id %}">Edit</a> </td>
              <td> <a href="{% url 'delete-deduction' deduction.id %}">Delete</a> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}